<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booky Book shop</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <div id="header-placeholder"></div>
    
    <div class="first-bar">
         <div class="search">
            <input  id="search_input" type="search" placeholder="Search all books...">
            <button id="search_button">Search</button>
          </div>
          </div>
     <div id="search_result" style="padding: 1rem 2rem; color: goldenrod;"></div>

   <main>
    <div id="books-container" class="books-container"></div>
   </main>
      
  
       <div id="footer-placeholder"></div>
   <script src="../static/main.js"></script>
    <script src="../static/base.js"></script>
    <script src="../static/search.js"></script>
</body>
</html>