<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booky Book shop</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <header>
        <!-- First bar: login, signup, logo, search -->
        <div class="first-bar">
          <div class="log">
            <a href="/login">LogIn</a>

            

            <a href="/register">SignUp</a>
          </div>
          <div class="logo">
            <i class="fa-solid fa-book-open-reader"></i>
          </div>
          <!-- <div class="search">
            <input type="search" placeholder="Search all books...">
          </div> -->
          <!-- Cart removed from first bar -->
        </div>
      
        <!-- Second nav bar: Books and Cart -->
        <nav class="nav-bar">
          <ul>
            <li><a href="/cart">Cart</a></li>
            
          </ul>
        </nav>
      </header>
      <div>
         <h1 id="welcomeMessage"></h1>
      </div>

     

   <main>
    <div id="books-container"></div>
   </main>
      
   <script src="../static/main.js"></script>
</body>
</html>